/****	 
	Stylesheet for the Certificate Authority Pages (ca)
****/

html { background:#f2f2f2; }

html body #ac-localeswitcher { display: none; }
html.ac-ls-visible { margin-top: 0; }

#ca #main.content { padding:46px 50px; width:880px; }
#ca #main.content h1 { line-height:36px; padding-bottom:10px; }
#ca #main.content h2 { font-size:18px; margin-bottom:0; font-weight:bold; }
#ca #main.content h3 { font-size:14px; }

/*** Individual Pages ***/

/* Overview (Index) */
#ca.overview #main.content .certificate { padding-top:16px; }
#ca.overview #main.content .certificate img.left { margin-bottom:5px; }
#ca.overview #main.content .certificate h3, #ca #main.content .certificate p, #ca #main.content .certificate ul { padding-left:85px; }
#ca.overview #main.content .certificate ul { padding-bottom:15px; }
#ca.overview #main.content .certificate h3.push-down { padding-top:12px; }
#ca.overview #main.content .certificate span { padding-left: 100px; }
#ca.overview #main.content .certificate p, #ca #main.content .certificate span { margin-bottom:0; font-size:11px; }
#ca.overview #main.content .certificate li { display:inline; font-size:11px; margin-right:15px; }
#ca.overview #main.content h2.push-down { padding-top:25px; }

#ca.overview #main.content .column.last { width:260px; }
#ca.overview #main.content .column.last .callout { border:1px solid #e4e4e4; border-top:1px solid #f9f9f9; overflow:hidden; -moz-box-shadow:0 1px 2px #e7e7e7; -webkit-box-shadow:0 1px 2px #e7e7e7; background: url(/certificateauthority/images/callout_gradient20101130.jpg) center bottom repeat-x; }
#ca.overview #main.content .column.last .callout.top { text-align:center; }
#ca.overview #main.content .column.last .callout h3 { border-bottom:1px solid #e4e4e4; padding:10px 0 10px 20px; margin-bottom:0; text-align:left; }
#ca.overview #main.content .column.last .callout p { padding:20px; margin-bottom:0; }
#ca.overview #main.content .column.last .callout img.webtrust { margin:30px 0 30px 0; }

/* Root Certificate Program Subpage */
#ca.ca-program #main.content h2 { padding-bottom:16px; }
#ca.ca-program #main.content p.list-head { margin-bottom:7px; }
#ca.ca-program #main.content ol li { padding-bottom:10px; }
#ca.ca-program #main.content ol li p { margin-bottom:0; }
#ca.ca-program #main.content ol li ul li { padding-bottom:0; }
